#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
menu "Application Configuration"

source "build/module/application/Kconfig.common"

endmenu
