### get tzk addr and tzkp addr from config

if [ ${tz_rel_ver} == 2 ] && [ ${syna_chip_name} == dolphin ]; then
  configfile=${module_topdir}/products/${syna_chip_name}/gen2/${tz_memlayout}/config
elif [ ${tz_rel_ver} == genx ] && [ ${syna_chip_name} == dolphin ]; then
  configfile=${module_topdir}/products/${syna_chip_name}/genx/${tz_memlayout}/config
else
  configfile=${module_topdir}/products/${syna_chip_name}/${tz_memlayout}/config
fi
var=$(awk -F= '{print $2}' ${configfile})

tzk_addr=$(echo $var | awk '{print $1}')
tzbp_addr=$(echo $var | awk '{print $2}')
tzk2_addr=$[${tzk_addr} + 262144]
tzoem_addr=$(echo $var | awk '{print $3}')

