CONFIG_TOOLCHAIN_APPLICATION_CFLAG="-fPIE -fPIC"
CONFIG_TOOLCHAIN_APPLICATION_CPPFLAG="-std=c++17"
CONFIG_TOOLCHAIN_APPLICATION_LDFLAG="-lc -lm -llog -lcutils -ldl -Bdynamic -Wl,-dynamic-linker,/system/bin/linker64"

export ANDROID_SYSROOT_TARGET=$(echo ${CONFIG_TOOLCHAIN_APPLICATION} | sed -e "s/-$//g")
CONFIG_TARGET=${ANDROID_SYSROOT_TARGET}${CONFIG_RUNTIME_ANDROID_API_LEVEL}
CONFIG_TOOLCHAIN_CLANG_CFLAG="--target=${CONFIG_TARGET} -march=armv8-a --sysroot=${CONFIG_SYNA_SDK_OUT_TARGET_PATH}/build_sysroot"
CONFIG_TOOLCHAIN_CLANG_LDFLAG="-fuse-ld=lld"
