CONFIG_TOOLCHAIN_APPLICATION_CFLAG="-mfloat-abi=hard -mfpu=neon --sysroot=${CONFIG_SYNA_SDK_OUT_TARGET_PATH}/${CONFIG_SYNA_SDK_OUT_SYSYROOT}"
CONFIG_TOOLCHAIN_APPLICATION_CPPFLAG=""
CONFIG_TOOLCHAIN_APPLICATION_LDFLAG="--sysroot=${CONFIG_SYNA_SDK_OUT_TARGET_PATH}/${CONFIG_SYNA_SDK_OUT_SYSYROOT} "
