CONFIG_TOOLCHAIN_APPLICATION_SYSROOT="${topdir}/toolchain/${CONFIG_TOOLCHAIN_APPLICATION_PATH}/usr/armv7a-cros-linux-gnueabihf"
CONFIG_TOOLCHAIN_APPLICATION_CFLAG="-mfloat-abi=hard -mfpu=neon --sysroot=${CONFIG_TOOLCHAIN_APPLICATION_SYSROOT}"
CONFIG_TOOLCHAIN_APPLICATION_CPPFLAG=${CONFIG_TOOLCHAIN_APPLICATION_CFLAG}
CONFIG_TOOLCHAIN_APPLICATION_LDFLAG="-static-libgcc -static-libstdc++ --sysroot=${CONFIG_TOOLCHAIN_APPLICATION_SYSROOT}"
