#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

# amp and its dependent modules
source "module/synap/Kconfig.build"
source "module/ampsdk/Kconfig.build"

source "kconfig/Kconfig.bootflow"
source "kconfig/Kconfig.chip"
